.cart {
  min-width: 423px;
  height: 532px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;

  &__image {
    display: block;
    width: 95%;
    height: 294px;
    background-size: cover;
    border-radius: 15px;
    margin: 7px auto 0;
  }

  &__title {
    font-family: "Manrope", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #181818;
    width: 95%;
    margin: 20px auto 10px;
  }

  &__city {
    font-family: "Manrope", Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #787878;
    margin: 0 0 25px 17px;
  }

  &__button {
    position: relative;
    width: 186px;
    height: 59px;
    border-radius: 15px;
    border: none;
    font-family: "Manrope", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 25px;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 21px;
    right: 15px;
  }

  &__box-btn {
    position: absolute;
    bottom: 20px;
  }
}

@media (max-width: 700px) {
  .cart {
    min-width: 85%;
    height: 420px;

    &__image {
      background-size: 380px;
      height: 220px;
    }

    &__title {
      font-size: 18px;
      line-height: 18px;
      width: 80%;
    }

    &__box-btn {
      width: 90%;
      margin: 0 auto;
      right: 0;
      left: 0;
    }

    &__button {
      width: 120px;
      height: 45px;
      font-size: 10px;
      padding-left: 10px;
    }

    &__city {
      width: 80%;
      margin: 0 auto;
    }

    &__arrow {
      top: 16px;
      right: 8px;
    }
  }
}

@media (max-width: 550px) {
  .cart {
    min-width: 280px;
    height: 450px;

    &__image {
      width: 90%;
      height: 180px;
    }

    &__title {
      font-size: 14px;
      line-height: 18px;
      width: 90%;
    }

    &__button {
      width: 100px;
      height: 48px;
      font-size: 10px;
      padding-left: 5px;
    }
    &__arrow {
      top: 16px;
      right: 8px;
    }
  }
}
